.panel-title {
  margin-left: 10px;
}

.panel-button {
  position: fixed;
  top: 50%;
  left: 0;
  transform: rotate(90deg);
}

.carousel-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.filenames {
  max-height: 400px;

  .card-body {
    overflow: auto;
  }
}

.js-carousel-input, .js-carousel-save {
  display: none;
}

.new-file {
  color:lightgreen;
}

.discard-button {
  color: red;
}

.bi {
  margin-left: 5px;
}

.bi:hover {
  opacity: 0.7;
  cursor: pointer;
}

.manageHomeCarousel {
  max-height: 400px;
}

#homeCarouselPreview {
  border: 3px solid white;
  border-radius: 12px;
}
