@import "trix/dist/trix.css";
@import "bootswatch/dist/darkly/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/darkly/bootswatch";

body {
  height: 100%;
}

.content {
  padding-left: 5%;
  padding-right: 5%;
}

.alerts {
  margin-bottom: 20px;
}

.auth-card {
  width: 500px;
  margin: auto;
}
