.form-buttons {
  margin-top: 2%;

  a {
    margin-left: 1%;
  }
}

.badge {
  font-size: 12px;
  vertical-align: middle;
  margin-left: 12px;
  position: relative;
  text-decoration: none;
  z-index: 2;
}

.badge:hover {
  opacity: 0.5;
}

.action-button {
  margin-left: 10px;
}

.post-card {
  height: 300px;
  margin: 10px;

  .card-body {
    overflow: hidden;
  }

  .card-img-top {
    height: 125px;
    object-fit: cover;
  }
}

.post-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 20%);
}
