.new-comment-block{
  border:1px solid black;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  padding:1%;
  margin-bottom: 2%;
  input{
    margin:1%;
  }
}

.comment-block{
  margin-bottom:2%;
}

.comments-header{
  margin-top:2%;
  text-size:1rem;
  border-bottom: 1px solid black;
}
