.new-comment-block {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 4px;

  input {
    margin-top: 4px;
    width: 100%;
  }
}

.comment-block {
  margin: 10px 0;
}

.comments-header {
  margin-top: 4px;
  font-size: 1rem;
  border-bottom: 1px solid black;
}
