.new-comment-block{
  border: 1px solid black;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 4px;
  input{
    margin-top:4px;
    width: 100%;
  }
}

.comment-block{
  margin:10px 0px 10px 0px;
}

.comments-header{
  margin-top: 4px;
  font-size: 1rem;
  border-bottom: 1px solid black;
}
