.post{
  padding:20px;
}

.post-award{
  margin:2px;
  width:24px;
  height:24px;
}

.award{
  margin-top:8px;
}

.award-selected
{
  border:1px solid black;
}

.modal-body{
  [type=radio]{
    opacity: 0;
  }
  [type=radio] + img {
    cursor: pointer;
  }
  [type=radio]:checked + img {
    background:lightgrey;
    border-radius: 15px;
  }
}
